{% extends 'base.html' %}

{% load static %}

{% block 'main' %}
<section class="py-0">
  <div class="bg-holder d-none d-md-block"
    style="background-image:url({% static 'assets/img/illustrations/hero.png' %});background-position:right bottom;background-size:contain;">
  </div>
  <!--/.bg-holder-->

  <div class="container position-relative">
    <div class="row align-items-center min-vh-75 my-lg-8">
      <div class="col-md-7 col-lg-6 text-center text-md-start py-8">
        <h1 class="mb-4 display-1 lh-sm">Travel around <br class="d-block d-lg-none d-xl-block" />the world</h1>
        <p class="mt-4 mb-5 fs-1 lh-base">Plan and book your perfect trip with expert advice, <br
            class="d-none d-lg-block" />travel tips, destination information and <br
            class="d-none d-lg-block" />inspiration from us.</p><a class="btn btn-lg btn-primary hover-top"
          href="/userreg" role="button">Sign Up Now</a>
      </div>
    </div>
  </div>
</section>

<!-- ============================================-->
<!-- <section> begin ============================-->
<section id="places">

  <div class="container">
    <div class="row flex-md-center">
      <div class="col-md-11 col-lg-4 py-md-3 px-4 px-md-3 px-lg-0 px-xl-2 order-lg-1">
        <h1 class="fw-bold fs-md-3 fs-xl-5">Amazing places to enjoy your travel</h1>
        <hr class="text-primary my-4 my-lg-3 my-xl-4" style="height:3px; width:70px;" />
        <a class="btn btn-lg btn-primary hover-top" href="/userreg" role="button">Explore</a>
      </div>
      <div class="col-lg-8 order-lg-0 order-1 px-4 px-md-3 py-8 py-md-3">
        <div class="carousel slide" id="carouselExampleControlsNoTouching" data-bs-touch="false"
          data-bs-interval="false">
          <div class="carousel-inner">

            <div class="carousel-item active">
              <div class="row h-100">
                {% for x in data %}
                <div class="col-md-4 mb-3 mb-md-0">
                  <a href="/placedetail/{{x.id}}">

                  <div class="card h-100 text-white hover-top"><img class="img-fluid h-100" src={{x.Image}} alt="" />
                  <!-- <div class="card h-100 text-white hover-top"> -->
                   <!-- <a href="/placedetail/{{x.id}}" class="img-fluid h-25"> <img src="{{x.Image}}">  -->
                  <!-- </div> -->
                  <div class="card-img-overlay ps-0 d-flex flex-column justify-content-between bg-dark-gradient">
                    <div class="pt-3"><span class="badge bg-primary">₹{{x.Package}}</span></div>
                    <div class="ps-3 d-flex justify-content-between align-items-center">
                      <h5 class="text-white">{{x.State}}</h5>
                      <h6 class="text-600">{{x.Days}}days</h6>
                    </div>
                  </div>
                </div>
              </a>
              </div>
             
              {% endfor %}
            </div>
          </div>

        </div>
        <!-- <div class="position-relative mt-5"><a class="carousel-control-prev carousel-icon z-index-2"
            href="#carouselExampleControlsNoTouching" role="button" data-bs-slide="prev"><span
              class="carousel-control-prev-icon" aria-hidden="true"></span><span
              class="visually-hidden">Previous</span></a><a class="carousel-control-next carousel-icon z-index-2"
            href="#carouselExampleControlsNoTouching" role="button" data-bs-slide="next"><span
              class="carousel-control-next-icon" aria-hidden="true"></span><span class="visually-hidden">Next</span></a>
        </div> -->
      </div>
    </div>
  </div>
  </div>
  <!-- end of .container-->

</section>
<!-- <section> close ============================-->
<!-- ============================================-->

{% endblock 'main' %}