{% extends 'base.html' %}

{% load static %}

{% block 'main' %}

<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content padding-y">

<!-- ============================ COMPONENT REGISTER   ================================= -->
	<div class="card mx-auto" style="max-width:520px; margin-top:40px;">
      <article class="card-body">
		<header class="mb-4"><h4 align="center" class="card-title">Sign up</h4></header>
		<form method="POST" action="/register">
			{% csrf_token %}
				<div class="form-row">
					<div class="col form-group">
						<label>First name</label>
					  	<input type="text" name="fname" class="form-control" placeholder="Enter Firstname">
					
						{% if errfnamemsg %}
							<span class="text-danger">First Name field cannot be Blank</span>
					  	{% endif %}

					</div> <!-- form-group end.// -->
					<div class="col form-group">
						<label>Last name</label>
					  	<input type="text" name="lname" class="form-control" placeholder="Enter Lastname">
					
						{% if errlnamemsg %}
							<span class="text-danger">Last Name field cannot be Blank</span>
					  	{% endif %}

					</div> <!-- form-group end.// -->
					<div class="col form-group">
						<label>Username</label>
					  	<input type="email" name="email" class="form-control" placeholder="Enter EmailID">
					
						{% if erremailmsg %}
							<span class="text-danger">Email field cannot be Blank</span>
					  	{% endif %}

					</div> <!-- form-group end.// -->
				</div> <!-- form-row end.// -->
				<div class="form-row">
					<div class="form-group col">
						<label>Create password</label>
					    <input name="pass" class="form-control" type="password" placeholder="Enter Password">
					
						{% if errpassmsg %}
							<span class="text-danger">Password field cannot be Blank</span>
						{% endif %}	
					
					</div> <!-- form-group end.// --> 
					<div class="form-group col">
						<label>Confirm password</label>
					    <input name="cpass" class="form-control" type="password" placeholder="Enter Confirm Password">
					
						{% if errcupassmsg %}
							<span class="text-danger">Confirm password field cannot be blank</span>
						{% elif errmismatch %}
							<span class="text-danger">Password and Confirm Password didn't matched</span>
						{% endif %}
					
					</div> <!-- form-group end.// -->  
				</div>
			    <div class="form-group">
			       <button type="submit" class="btn btn-primary btn-block"> Register </button>
			    </div> <!-- form-group// -->      
				
				{% if msg %}
					<span class="text-success">{{msg}}</span>
				{% endif %}
				   
			</form>
		</article><!-- card-body.// -->
    </div> <!-- card .// -->
    <p class="text-center mt-4">Have an account? <a href="/signin">Log In</a></p>
    <br><br>
<!-- ============================ COMPONENT REGISTER  END.// ================================= -->


</section>
<!-- ========================= SECTION CONTENT END// ========================= -->

{% endblock 'main' %}