{% extends 'base.html' %}

{% block 'main' %}
<main id="main">

    <div class="container">
        <div class="row">
            <div class="col-md-6 my-5 mx-auto">
                <form method="post" action="">
                    {% csrf_token %}
                    <br><br><br>
                    <table>
                        {{logfmdata}}
                        <tr>
                            <td>
                                <button type="submit " class="btn btn-primary">Login</button>
                            </td>
                        </tr>
                    </table>
                </form>
                {% if msg %}
                <span class="text-success"><b>{{msg}}</b></span>
                
                {% endif %}
            </div>

        </div>
        <div>
        </div>


        {% endblock 'main' %}